@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb6a7;
}
.card {
    height: 350px;
    width: 50%;
    background-color: #ffd2c6;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 25px;;
}
#qupte{
    height: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    overflow: scroll;
}
.qu{
    font-size: 28px;
    font-weight: bold;
    /* flex-wrap: wrap; */
}
span{
    font-size: 40px;
    color: #b30000;
}
.aut{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: x-large;
    /* flex-wrap: wrap; */
    overflow-y: scroll;
}

.bootom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    border-top: 1px solid;
    margin: 0 20px; 
}
button{
    height: 40px;
    width: 100px;
    background-color: #eb3a32;
    color: white;
    font-weight: 800;
    border: none;
}
::-webkit-scrollbar {
    display: none;
  }
  